/*公共样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;				/*清除列表风格*/
}
img {
	border: 0;
	vertical-align: middle;
}
body {
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
	color: #666;
	background: #fff;
	width: 100%;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1; /*IE/7/6*/
}

a {
	color: #666;
	text-decoration: none
}
h1, h2, h3, h4, h5, h6 {
	text-decoration: none;
	font-weight: normal;
	font-size: 100%;
}

s, i, em {
	font-style: normal;
	text-decoration: none;
}

.fl{
	float: left;
}

.fr{
	float: right;
}


/*主体样式*/

body{
	background: url(index.jpg) no-repeat;
	background-size: cover;
}

.header{
	width: 80%;
	margin: 30px auto;
	text-indent:2em;
	color: #ccc;
}

span{
	color: yellow;
}

h3{
	width:80%;
	margin: 0 auto;
	color: #ccc;
}

section{
	width:80%;
	margin: 0 auto;
	border-radius: 4%;
	background-color: rgba(255, 255, 255, 0.5);
	padding:10px;
}

.top{
	margin-top: 2px;
}

em{
    display: inline-block;
    width:70px;
    text-align: right;
    margin-right: 20px;
}

section div{
	position: relative;
}

section strong{
	position: absolute;
	color: black;
}

textarea{
        width: 50%;
        resize: none;
		float: right;
    }

.textarea3{
	height: 30px;
	width:80%;
}

.textarea4{
	width:100%;
}

.ex{
	text-indent:1em;
}

.tip{
	width:80%;
	margin: 0 auto;
}

.footer{
	width: 50%;
	margin: 0 auto;
	margin-top: -2px;
	color: #ccc;
}

.left{
	width: 30%;
}

.right{
	width: 30%;
}

.color{
	color: black;
}